<%@ Control Language="C#" ClassName="GCI.GCI_MOD" Inherits="DotNetNuke.Entities.Modules.PortalModuleBase" %>
<h1>Congratulations</h1>
<p>You have successfully created your module.  You can edit the source of the module control by selecting the View Source Action from the Action Menu.</p>
<script runat="server">

</script>
